.App {
  .App__header {
    background-color: lightskyblue;
    box-shadow: 0 4px 1px -1px rgba(0,0,0,0.1);
    text-align: center;
    height: 55px;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: center;

    h1 {
      margin: .8rem 0;
    }

    .Header__flamingo {
      width: 40px;
      margin: .4rem;
    }
    .Header__flamingo:first-of-type {
      transform: scaleX(-1);
    }
  }
  .App__products-container {
    display: flex;
    flex-flow: column nowrap;
    width: 60%;
    margin: 2rem auto;

    .Products__summary {
      text-decoration: underline 2px solid black;
      margin: .8rem 0;
      line-height: 1.4;
    }

    .Products__pagination {
      display: flex;
      flex-flow: row wrap;

      .Pagination__number {
        border: 2px solid #000;
        width: 50px;
        height: 50px;
        margin: 0 .8rem .8rem 0;
        display: inline-flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &.Number__active {
          background: rgb(254,141,148);
          background: radial-gradient(circle, rgba(254,141,148,1) 15%, rgba(135,206,250,1) 85%); 
        }
      }
      .Pagination__number:hover {
        background: rgb(254,141,148);
        background: radial-gradient(circle, rgba(254,141,148,1) 15%, rgba(135,206,250,1) 85%); 
      }
    }
    .App__page-size {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;

      h2 {
        margin-right: .8rem;
      }

      .Text__page-size {
        text-decoration: underline 2px solid #000;
      }

      .Number__page-size {
        border: 2px solid #000;
        width: 50px;
        height: 50px;
        display: inline-flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
    }
  }
  .App__logo {
    img {
      width: 25%;
    }
  }
}